target/
node_modules/
client/node_modules/
client/assets/*.h264
client/assets/
bin/
.DS_Store
.astro/
client/.astro/
dist/
client/dist/
client/index.html
.opencode
.cloudflare/
cloudflare/worker/wrangler.toml
